body {
    background-image: linear-gradient(#BE2AF7, #333399);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color: rgb(255,255,255,.8);
}

h1, h2, h3, h4 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.title {
    font-size: 2rem;
}

.main {
    display: flex;
    
}